{% extends 'base.html.twig' %}

{% block pageTitle %}About the author {% endblock %}


{% block contentTitle %}About the author{% endblock %}

{% block content %}

    <div class="left-side">
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>

    </div> <!-- .left-side -->

{% endblock %}